<launch> 
    <node pkg="joy" type="joy_node" name="joy_node" output="screen" respawn="true">        
        <param name="dev" value="/dev/input/js1" />
        <param name="deadzone" value="0.001" />
        <param name="coalesce_interval" value="0.01" /> 
        <param name="autorepeat_rate" value="100" /> 
    </node>
    <node pkg="crazyflie_ros" type="joy_driver.py" name="CrazyFlieDriver" output="screen" respawn="true"> </node>       
</launch>


